<configuration>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${log-path:-}syncaws.log</file>
		<append>true</append>
		<encoder><pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern></encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter"><level>${log-level:-OFF}</level></filter>
	</appender>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder><pattern>%m%nopex%n</pattern></encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter"><level>INFO</level></filter>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
